<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>AdminPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.assessment.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPasswordChangeServlet</display-name>
    <servlet-name>AdminPasswordChangeServlet</servlet-name>
    <servlet-class>com.assessment.controller.AdminPasswordChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPasswordChangeServlet</servlet-name>
    <url-pattern>/PasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDetailsServlet</display-name>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <servlet-class>com.assessment.controller.BookingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <url-pattern>/bookingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightServlet</display-name>
    <servlet-name>FlightServlet</servlet-name>
    <servlet-class>com.assessment.controller.FlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightServlet</servlet-name>
    <url-pattern>/flightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>com.assessment.controller.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/searchFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAirlines</display-name>
    <servlet-name>ViewAllAirlines</servlet-name>
    <servlet-class>com.assessment.controller.ViewAllAirlines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAirlines</servlet-name>
    <url-pattern>/viewAllAirlines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllFlightDetails</display-name>
    <servlet-name>ViewAllFlightDetails</servlet-name>
    <servlet-class>com.assessment.controller.ViewAllFlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllFlightDetails</servlet-name>
    <url-pattern>/viewAllFlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPlaces</display-name>
    <servlet-name>ViewAllPlaces</servlet-name>
    <servlet-class>com.assessment.controller.ViewAllPlaces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPlaces</servlet-name>
    <url-pattern>/viewAllPlaces</url-pattern>
  </servlet-mapping>
</web-app>